<%= render :partial=>'scoreboard_nav' %>

<% @games.each do |game| %>
	<%= render :partial=>'linescore', :locals=>{:game => game} %>
<% end %>

<% if @games.size == 0 %>
	<div id="no_games">
		No Games Scheduled (or data not available)
	</div>
<% end %>

<%= render :partial=>'scoreboard_nav' %>