
<script src="/javascripts/nogray_calendar/mootools.v1.11.js" type="text/javascript"></script>
<script src="/javascripts/nogray_calendar/nogray_date_calendar_vs1_min.js" type="text/javascript"></script>
<script src="/javascripts/calendar.js" type="text/javascript"></script>

<link href="/javascripts/nogray_calendar/nogray_calendar_vs1.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/calendar.css" rel="stylesheet" type="text/css" />

<div id="cal_wrapper">
	<select name="date" id="date"></select>
	<select name="month" id="month"></select>
	<select name="year" id="year"></select>
	<br/><br/>
	<div id="calendar"></div>
</div>

