#game_menu {
	float:left;
	padding:0 10px;
	width:160px;
	height: 600px;
}

div.tabs {
	font-size:80%;
	margin-left:15px;
	margin-top:2px;
	overflow:hidden;
	padding-top:2px;
}

div.tabs a.tab {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background-color:#EEEEEE;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	color:#356AA0;
	display:block;
	float:left;
	font-size:120%;
	font-weight:bold;
	height:21px;
	margin-right:6px;
	padding-right:13px;
	text-decoration:none;
}

div.tabs a.tab span {
	display:block;
	line-height:13px;
	padding:4px 0 4px 15px;
}

div.tab_content {
	-moz-border-radius-topright:5px;
	border:1px solid #CCCCCC;
	margin:0 0 20px;
	padding:10px;
}

#game_detail {
	float:left;
	padding:0 0 20px;
	width:700px;
}

#boxscore {
	padding: 8px;
}

#linescore {
	font-size: 10pt;
	padding: 8px;
}

#linescore, #pitching, #batting, #game_info {
	float: left;
	clear: both;
	text-align: left;
}

#away_batters, #home_batters {
	float: left;
	width: 320px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 10px;
	padding: 3px;
}

#away_pitchers, #home_pitchers {
	float: left;
	width: 320px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 10px;
	padding: 3px;
}

#game_info {
	margin-top: 20px;
	width: 600px;
}
	
	#linescore label {
		font-weight: bold;
		width: 90px;
		display: block;
		float: left;
	}
	
	#batting label, #pitching label {
		width: 90px;
		display: block;
		float: left;
	}
	
	#linescore {
		width: 700px;
	}
	
	#batting, #pitching {
		width: 680px;
	}
	
	#title {
		font-weight: bold;
		font-size: 12pt;
	}
	
	.team_labels {
		float: left;
		clear: both;
		margin-top: 20px;
	}
	
	
	.team_labels .visitor_label, .team_labels .home_label {
		float: left;
		width: 320px;
		text-align: left;
		background-color: blue;
		color: white;
		margin-right: 10px;
		padding: 3px;
		font-weight: bold;
	}
	
	.header_row {
		font-weight: bold;
	}
	
	.batter_row, .pitcher_row {
		text-align: center;
	}
	
	.name_field {
		width: 80px;
		text-align: left;
	}
	
	.data_field {
		width: 20px;
		text-align: center;
	}

.note_field {
	width: 60px;
	text-align: left;
}

table td {
	border-bottom:1px solid #EEEEEE;
}

.linescore_city {
	font-weight: bold;
	width: 100px;
	text-align: left;
}

.linescore_inning {
	width: 20px;
	text-align: center;
}

.linescore_totals {
	width: 20px;
	text-align: center;
}

.linescore_header {
	font-weight: bold;
	text-align: center;
	background-color: #EEEEEE;
}

.linescore_header td {
	border-bottom: 1px solid #CCCCCC;
}

.linescore_brief {
	text-align: left;
	margin-bottom: 5px;
}

.game_selected {
	border: 1px solid #1874CD;
	background-color: #FFFF88;
}

.linescore_brief th {
	border-bottom:1px solid #CCCCCC;
	color: #27408B;
}

.team_name {
	width: 65px;
}

.pbp_inning {
	float: left;
	clear: both;
	text-align: left;
}

.pbp_inning_label {
	float: left;
	clear: both;
	background-color: blue;
	color: white;
	padding: 5px;
	font-size; 12pt;
	font-weight: bold;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 8px;
}

.pbp_inning ul {
	padding: 0px;
	margin: 0px;
	float: left;
	clear: both;
	list-style: none;
}

.pbp_inning ul li {
	line-height: 1.5em;
}
