table.linescore .team_name {
	text-align: left;
}

div.game {
	float:left;
	min-height:120px;
	height: 120px;
	padding:5px 3px;
	text-align:left;
	width:290px;
}

table.linescore {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	font-size:10px;
	width:100%;
}

table.linescore .final {
	background-color:#3F4C6B;
	color:#FFFFFF;
	font-style:italic;
	font-weight:bold;
	padding:3px;
	text-align:center;
	width:70px;
}

table.linescore th {
	background-color:#EEEEEE;
	border-bottom:1px solid #EEEEEE;
	color:#595959;
	font-weight:normal;
	text-align:center;
}

table.linescore td {
	border-bottom:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
	font-weight:normal;
	text-align: center;
}

table.linescore td.rhe {
	background-color:#F9FFD4;
	font-weight:bold;
}

table.linescore_notes {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	font-size:10px;
	width:100%;
}

table.linescore_notes td.links {
	background-color:#EEEEEE;
	text-align:center;
}

table.linescore_notes td {
	background-color:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
	padding:3px;
	vertical-align:top;
}

.links a, .links a:visited {
	color: blue;
}

#no_games {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.scoreboard_info_line {
	float: left;
	clear: both;
	width: 100%;
	background-color: #0000aa;
	color: rgb(234, 234, 234);
	text-align: left;
	padding: 0px;
}

.scoreboard_nav {
	float: left;
	padding: 8px;
}

.scoreboard_nav a, .scoreboard_nav a:visited {
	color: white;
	font-weight: bold;
}

.scoreboard_refresh {
	float: right;
	padding: 8px;
}