<div id="footer">
	<div id="source_code">
		Source code available via <a href="http://github.com/timothyf/Baseball-Tracker">GitHub</a>.
	</div>
	<div id="gameday_powered">
		Powered by <a href="http://gameday.timothyfisher.com">Gameday API</a>
	</div>
</div>