<div id="header">
	<div class="header_text">
		<div class="title">Baseball Tracker</div>
		<div class="tagline">Real-time MLB Score and Stats</div>
	</div>
	<div class="header_msg">
		Pitch-by-Pitch and highlights tabs now functional
	</div>
</div>